## Cleaning NHS Dataset - Attempt 1 & 3

Written by Autumn

This notebook shows my 1st and 3rd attempt at cleaning the NHS data ready for analysis. To see the code for my 2nd attempt, please refer to the 'NHS_data_cleaning_code_2.py' file in the 'Python code for NHS data cleaning' folder.

I obtained this data set used in this program the following link: https://digital.nhs.uk/data-and-information/publications/statistical/mental-health-services-monthly-statistics/performance-january-provisional-february-2023 

The file I downloaded was this file:

<img src="../images/nhs_data_2016_to_2023.png">

The data provides all the information within this PowerBI dashboard: https://app.powerbi.com/view?r=eyJrIjoiZTc4YWVkY2ItNGE3NS00Yjk2LWE5MDEtN2MzNDExNWIyYzljIiwidCI6IjUwZjYwNzFmLWJiZmUtNDAxYS04ODAzLTY3Mzc0OGU2MjllMiIsImMiOjh9

This is confirmed here:

<img src="../images/nhs_data_source_evidence.png">

In my first attempt, I counted the number of occurences of the 'MHS32' reference in the MEASURE_ID column. This is the reference for new referrals as shown here:

<img src="../images/new_referrals_ref.png">

In my third attempt I summed the figures in the MEASURE_VALUE column for the 'MHS32' reference.

I will show both versions of the program below.

I imported pandas and the file to be cleaned. I also made a copy to stop any changes to the original data.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
data = pd.read_csv("../../datasets/NHS_raw/MHSDS Time_Series_data_Apr_2016_JanPrf_2023.csv")
data_copy = data.copy()
data_copy

,REPORTING_PERIOD_START,REPORTING_PERIOD_END,STATUS,BREAKDOWN,PRIMARY_LEVEL,PRIMARY_LEVEL_DESCRIPTION,SECONDARY_LEVEL,SECONDARY_LEVEL_DESCRIPTION,MEASURE_ID,MEASURE_NAME,MEASURE_VALUE
0,01/09/2022,30/11/2022,Performance,ICB,QE1,NHS LANCASHIRE AND SOUTH CUMBRIA INTEGRATED CA...,NONE,NONE,ED86,Referrals with eating disorder issues categori...,*
1,01/09/2022,30/11/2022,Performance,ICB,QE1,NHS LANCASHIRE AND SOUTH CUMBRIA INTEGRATED CA...,NONE,NONE,ED86a,Referrals with eating disorder issues categori...,*
2,01/09/2022,30/11/2022,Performance,ICB,QE1,NHS LANCASHIRE AND SOUTH CUMBRIA INTEGRATED CA...,NONE,NONE,ED86b,Referrals with eating disorder issues categori...,*
3,01/09/2022,30/11/2022,Performance,ICB,QE1,NHS LANCASHIRE AND SOUTH CUMBRIA INTEGRATED CA...,NONE,NONE,ED86c,Referrals with eating disorder issues categori...,*
4,01/09/2022,30/11/2022,Performance,ICB,QE1,NHS LANCASHIRE AND SOUTH CUMBRIA INTEGRATED CA...,NONE,NONE,ED86d,Referrals with eating disorder issues categori...,*
...,...,...,...,...,...,...,...,...,...,...,...
509418,01/01/2023,31/01/2023,Performance,Sub ICB - GP Practice or Residence,06H,NHS CAMBRIDGESHIRE AND PETERBOROUGH ICB - 06H,NONE,NONE,MHS32,Referrals starting in RP,9335
509419,01/01/2023,31/01/2023,Performance,Sub ICB - GP Practice or Residence,15E,NHS BIRMINGHAM AND SOLIHULL ICB - 15E,NONE,NONE,MHS32,Referrals starting in RP,10595
509420,01/01/2023,31/01/2023,Performance,Sub ICB - GP Practice or Residence,15M,NHS DERBY AND DERBYSHIRE ICB - 15M,NONE,NONE,MHS32,Referrals starting in RP,6985
509421,01/01/2023,31/01/2023,Performance,Sub ICB - GP Practice or Residence,78H,NHS NORTHAMPTONSHIRE ICB - 78H,NONE,NONE,MHS32,Referrals starting in RP,8325
509422,01/01/2023,31/01/2023,Performance,Sub ICB - GP Practice or Residence,D2P2L,NHS BLACK COUNTRY ICB - D2P2L,NONE,NONE,MHS32,Referrals starting in RP,10225

I then reduced the dataframe down to the columns we will need.

In [5]:
data_copy = data_copy[['REPORTING_PERIOD_START', 'MEASURE_ID', 'MEASURE_VALUE']]
data_copy

       REPORTING_PERIOD_START MEASURE_ID MEASURE_VALUE
0                  01/09/2022       ED86             *
1                  01/09/2022      ED86a             *
2                  01/09/2022      ED86b             *
3                  01/09/2022      ED86c             *
4                  01/09/2022      ED86d             *
...                       ...        ...           ...
509418             01/01/2023      MHS32          9335
509419             01/01/2023      MHS32         10595
509420             01/01/2023      MHS32          6985
509421             01/01/2023      MHS32          8325
509422             01/01/2023      MHS32         10225

[509423 rows x 3 columns]

Then, i renamed the columns to make them easier to understand.

In [6]:
data_copy.rename(columns = {'REPORTING_PERIOD_START': 'month', 'MEASURE_ID': 'id', 'MEASURE_VALUE': 'new_referrals'}
                           , inplace=True)
data_copy

             month     id new_referrals
0       01/09/2022   ED86             *
1       01/09/2022  ED86a             *
2       01/09/2022  ED86b             *
3       01/09/2022  ED86c             *
4       01/09/2022  ED86d             *
...            ...    ...           ...
509418  01/01/2023  MHS32          9335
509419  01/01/2023  MHS32         10595
509420  01/01/2023  MHS32          6985
509421  01/01/2023  MHS32          8325
509422  01/01/2023  MHS32         10225

[509423 rows x 3 columns]

I changed the datatypes to strings as they had imported as objects.

In [7]:
data_copy[['month','id','new_referrals']] = data_copy[['month','id', 'new_referrals']].astype("string")
data_copy.dtypes

month            string
id               string
new_referrals    string
dtype: object

Here i am removing all the * values in the new_referrals_count as these cannot be counted

In [8]:
data_copy = data_copy[~data_copy['new_referrals'].isin(['*'])]
data_copy.shape

(192386, 3)

Now i can change the datatype of the new_referrals_count column to a float so the values can be summed

In [9]:
data_copy['new_referrals'] = data_copy['new_referrals'].astype("float")
data_copy.dtypes

month             string
id                string
new_referrals    float64
dtype: object

I also converted the month column to a date datatype

In [10]:
data_copy['month'] = data_copy['month'].apply(pd.to_datetime, format= '%d/%m/%Y')
data_copy.dtypes

month            datetime64[ns]
id                       string
new_referrals           float64
dtype: object

Then i sorted the rows in to date order and filtered by the date range that we need.

In [16]:
data_copy.sort_values(by=['month'], ascending=True, inplace=True)
data_copy

            month     id  new_referrals
454484 2016-04-01  MHS32         4445.0
454482 2016-04-01  MHS32         2605.0
454481 2016-04-01  MHS32          640.0
454480 2016-04-01  MHS32         3040.0
454479 2016-04-01  MHS32         2590.0
...           ...    ...            ...
499463 2023-01-01  MHS01           10.0
499446 2023-01-01  MHS29           60.0
499434 2023-01-01  MHS01           25.0
502757 2023-01-01  MHS29        26430.0
509422 2023-01-01  MHS32        10225.0

[192386 rows x 3 columns]

In [17]:
date_filtered_df = data_copy.loc[(data_copy['month'] >= '2018-01-01')
                                 & (data_copy['month'] < '2023-01-01')]
date_filtered_df

            month     id  new_referrals
428915 2018-01-01  MHS32         3660.0
428930 2018-01-01  MHS29        26170.0
428273 2018-01-01  MHS07          205.0
428928 2018-01-01  MHS01        15975.0
428927 2018-01-01  MHS32         2310.0
...           ...    ...            ...
486367 2022-12-01  MHS07          490.0
488593 2022-12-01  MHS29        14925.0
486405 2022-12-01  MHS08          125.0
486406 2022-12-01  MHS09          105.0
487606 2022-12-01  MHS29       113550.0

[166177 rows x 3 columns]

Next, I filtered the id column by the reference we are looking for (MHS32)

In [18]:
id_date_filtered_df = date_filtered_df.loc[(data_copy['id'] == 'MHS32')]
id_date_filtered_df

            month     id  new_referrals
428915 2018-01-01  MHS32         3660.0
428927 2018-01-01  MHS32         2310.0
428923 2018-01-01  MHS32         2515.0
428919 2018-01-01  MHS32         2775.0
428903 2018-01-01  MHS32          290.0
...           ...    ...            ...
493654 2022-12-01  MHS32         6580.0
493655 2022-12-01  MHS32          815.0
493671 2022-12-01  MHS32         1090.0
493790 2022-12-01  MHS32         2535.0
493789 2022-12-01  MHS32        10720.0

[22075 rows x 3 columns]

Here is where the code is different based on my 2 attempts. The first block is to count the occurences of the MHS32 reference per month, the 2nd block is my 3rd attempt where i summed up the values in the last column after filtering by the MHS32 reference.

<div class="alert alert-block alert-warning">
<b>WARNING:</b> please either run the next  block and then skip the block after it or skip this block and run the next block.

In [ ]:
# for attempt 1 (count the occurences of the MHS32 reference per month)
month_filtered_series = id_date_filtered_df.groupby('month')['id'].count()
month_filtered_df = pd.DataFrame(month_filtered_series)

month_filtered_df

In [19]:
# for attempt 3 (sum the values in the 'new_referrals' column per month)
month_filtered_series = id_date_filtered_df.groupby('month')['new_referrals'].sum()
month_filtered_df = pd.DataFrame(month_filtered_series)

month_filtered_df

            new_referrals
month
2018-01-01       849688.0
2018-02-01       784794.0
2018-03-01       841853.0
2018-04-01       817931.0
2018-05-01       926736.0
2018-06-01       884565.0
2018-07-01       930695.0
2018-08-01       863639.0
2018-09-01       821798.0
2018-10-01       978703.0
2018-11-01       961049.0
2018-12-01       821662.0
2019-01-01       957581.0
2019-02-01       887192.0
2019-03-01       963916.0
2019-04-01       904437.0
2019-05-01       985270.0
2019-06-01       939620.0
2019-07-01      1019868.0
2019-08-01       860450.0
2019-09-01       929078.0
2019-10-01      1064793.0
2019-11-01       984464.0
2019-12-01       881099.0
2020-01-01      1058000.0
2020-02-01      1026852.0
2020-03-01       892501.0
2020-04-01       644573.0
2020-05-01       784459.0
2020-06-01       950854.0
2020-07-01      1037262.0
2020-08-01       920556.0
2020-09-01      1020040.0
2020-10-01      1089232.0
2020-11-01      1079043.0
2020-12-01       971881.0
2021-01-01       960772.0
2021-02-01       980095.0
2021-03-01      1213572.0
2021-04-01      1099711.0
2021-05-01      1162383.0
2021-06-01      1183305.0
2021-07-01      1129985.0
2021-08-01       983106.0
2021-09-01      1099645.0
2021-10-01      1134851.0
2021-11-01      1218205.0
2021-12-01      1072414.0
2022-01-01      1167286.0
2022-02-01      1150653.0
2022-03-01      1275767.0
2022-04-01      3900483.0
2022-05-01      1258791.0
2022-06-01      2214869.0
2022-07-01      4094121.0
2022-08-01       669045.0
2022-09-01       692805.0
2022-10-01       743755.0
2022-11-01       797625.0
2022-12-01       632510.0

In [20]:
month_filtered_df.to_csv('../../datasets/NHS_cleaned/NHS_data_cleaned.csv', encoding='utf-8')

In the end I made a manual excel file using the figures provided in the Power BI dashboard and then converted the file to a csv using the below code:

In [24]:
data = pd.read_excel("../../datasets/NHS_raw/NHS_manual_data.xlsx", sheet_name='Sheet1')
data.to_csv('../../datasets/NHS_cleaned/NHS_manual_data_cleaned.csv', encoding='utf-8')

Then Isobel formatted the column of dates to spereate the month and year to make it easier to work with in the data anlysis section nd wrote it to a new csv using the below code:

In [26]:
df = pd.read_csv("../../datasets/NHS_cleaned/NHS_manual_data_cleaned.csv", index_col=[0])
year = df.month.str[0:4]
df.insert(loc=0, column='year', value=year)
df['month'] = df.month.str[5:7]
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
df.tail()

    year month  no_of_referrals
56  2022    09           382195
57  2022    10           399841
58  2022    11           430373
59  2022    12           354867
60  2023    01           423522

In [27]:
df.to_csv("../../datasets/NHS_cleaned/NHS_manual_data_cleaned_reformat.csv", encoding='utf-8',index=False)